AI Proposal Generator.blueprint.json
{
    "name": "LUX AI Proposal Generator",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2252073,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -603,
                    "y": 214
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Lux Home Leads"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "client_name",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "project_type",
                        "type": "text"
                    },
                    {
                        "name": "lot_address",
                        "type": "text"
                    },
                    {
                        "name": "budget_range",
                        "type": "text"
                    },
                    {
                        "name": "timeline",
                        "type": "text"
                    },
                    {
                        "name": "special_notes",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "serializeUrl": false,
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer YOUR_GROQ_API_KEY"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "qs": [],
                "bodyType": "raw",
                "parseResponse": true,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "contentType": "application/json",
                "data": "{\r\n  \"model\": \"llama-3.3-70b-versatile\",\r\n  \"temperature\": 0.4,\r\n  \"messages\": [\r\n    {\r\n      \"role\": \"system\",\r\n      \"content\": \"You are a professional proposal writer for LUX Quality Homes, a premium custom home builder in Kelowna BC. Write a formal project proposal document, NOT a letter or email (but in basic doucument formatting, not markdown format). Do not use letter openers like 'We are thrilled' or 'Dear'. Do not use sign-offs like 'Sincerely' or 'Best regards'. Write in third person or direct declarative statements. Use the following section structure exactly: PROJECT OVERVIEW - Two paragraphs describing the scope, the lot, and what LUX will deliver. Reference the specific address, project type, and any special notes. Be specific and confident. BUDGET FRAMEWORK - Open with one sentence summarizing the total range. Then present each phase as its own line in this format: Phase Name -- Allocation Percentage -- Estimated Value. Phases: Site Preparation 8%, Foundation 12%, Framing 18%, Mechanical/Electrical/Plumbing 15%, Insulation and Drywall 10%, Finishes and Millwork 22%, Exterior 10%, Contingency 5%. Close with one sentence on budget management approach. TIMELINE OVERVIEW - Two short paragraphs on project phasing based on the client stated timeline. Be specific to their situation. WHY LUX - Three to four sentences. No generic filler. Focus on systems-driven process, white-glove communication, and Okanagan-specific expertise. Tone: formal, confident, premium. This is a document a client will review and share with their partner or financial advisor. It must look and read like a professional deliverable, not a sales email. Return only the proposal body text with section headers, no JSON wrapping.\"\r\n    },\r\n    {\r\n      \"role\": \"user\",\r\n      \"content\": \"Generate a proposal for:\\nClient: {{1.client_name}}\\nProject Type: {{1.project_type}}\\nLot Address: {{1.lot_address}}\\nBudget Range: {{1.budget_range}}\\nTimeline: {{1.timeline}}\\nSpecial Notes: {{1.special_notes}}\"\r\n    }\r\n  ]\r\n}",
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": -301,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "qs": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-drive:copyAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8677967
            },
            "mapper": {
                "select": "list",
                "name": "LUX Proposal - {{1.client_name}} - {{formatDate(now; \\ + \"YYYY-MM-DD\\\")}}",
                "copy": "drive",
                "destination": "drive",
                "file": "/YOUR_GOOGLE_DOC_TEMPLATE_ID",
                "folderId": "/YOUR_GOOGLE_DRIVE_FOLDER_ID"
            },
            "metadata": {
                "designer": {
                    "x": 28,
                    "y": 219
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Restricted connection",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "copy": {
                            "label": "My Drive"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "file": {
                            "mode": "chose",
                            "path": [
                                "Portfolio Projects",
                                "Lux Home  -Make project",
                                "LUX-Proposal-Template"
                            ]
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Portfolio Projects",
                                "Lux Home  -Make project",
                                "Proposals"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select the Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Copied File Name"
                    },
                    {
                        "name": "copy",
                        "type": "select",
                        "label": "Original File's Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "file",
                        "label": "Original File ID",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-docs:replaceATextInADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8287952
            },
            "mapper": {
                "destination": "drive",
                "replaceText": [
                    {
                        "oldText": "CLIENT_NAME",
                        "newText": "{{1.client_name}}"
                    },
                    {
                        "oldText": "[PROJECT_TYPE]",
                        "newText": "{{1.project_type}}"
                    },
                    {
                        "oldText": "[LOT_ADDRESS]",
                        "newText": "{{1.lot_address}}"
                    },
                    {
                        "oldText": "[BUDGET_RANGE]",
                        "newText": "{{1.budget_range}}"
                    },
                    {
                        "oldText": "[TIMELINE]",
                        "newText": "{{1.timeline}}"
                    },
                    {
                        "oldText": "[PROPOSAL_BODY]",
                        "newText": "{{2.data.choices[].message.content}}"
                    },
                    {
                        "oldText": "[DATE]",
                        "newText": "{{formatDate(now; \"MMMM D, YYYY\")}}"
                    }
                ],
                "document": "{{3.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 328,
                    "y": -12
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (jordan.rideout16@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "destination": {
                            "label": "My Drive"
                        },
                        "replaceText": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "document": {
                            "mode": "edit",
                            "path": []
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "replaceText",
                        "type": "array",
                        "label": "Replace a Text",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "oldText",
                                    "type": "text",
                                    "label": "Old text to be replaced",
                                    "required": true
                                },
                                {
                                    "name": "newText",
                                    "type": "text",
                                    "label": "New text to be inserted"
                                }
                            ],
                            "type": "collection",
                            "label": "Replacement",
                            "name": "value"
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8287811
            },
            "mapper": {
                "to": [
                    "{{1.email}}"
                ],
                "subject": "Your LUX Quality Homes Proposal - {{1.client_name}}",
                "bodyType": "rawHtml",
                "attachments": [
                    {
                        "filename": "{{3.name}}",
                        "data": "{{3.webViewLink}}"
                    }
                ],
                "from": "\"Brad - LUX Quality Homes\"",
                "content": "Dear {{1.client_name}},\n\n<br><br>\n\r\nYour proposal for {{1.lot_address}} is ready.\r\n<br><br>\n\r\nBased on your project details, we have prepared a preliminary proposal outlining the project scope, a phased budget framework for your {{1.budget_range}} range, and an overview of our build process. It is attached below and available at the link included.\n\r\n<br><br>\r\nThis proposal is the starting point for a real conversation. Every LUX project begins with a no-pressure discovery call where we walk through your vision, answer your questions, and determine if we are the right fit for your build.\n\r\n<br><br>\r\nBook your 30-minute call here: [CALENDLY_LINK]\n<br><br>\n\r\nWarm regards,\r\n<br>Brad<br>\r\nFounder, LUX Quality Homes\r\nKelowna, BC"
            },
            "metadata": {
                "designer": {
                    "x": 634,
                    "y": 216
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gmail connection (jordan.rideout16@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            }
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "from": {
                            "mode": "edit"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": {
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment",
                            "name": "value"
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "CC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "BCC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "emailHeaders",
                        "type": "array",
                        "label": "Additional email headers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header",
                            "name": "value"
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "YOUR_SLACK_WEBHOOK_URL",
                "data": "{\r\n  \"text\": \"*NEW PROPOSAL GENERATED*\\n\\n*Client:* {{1.client_name}}\\n*Email:* {{1.email}}\\n*Project:* {{1.project_type}}\\n*Budget:* {{1.budget_range}}\\n*Timeline:* {{1.timeline}}\\n*Proposal Doc:* {{3.webViewLink}}\"\r\n}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 946,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 57,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8287952
            },
            "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "drive",
                "spreadsheetId": "/YOUR_GOOGLE_SHEET_ID",
                "sheetId": "Sheet1",
                "includesHeaders": true,
                "useColumnHeaders": true,
                "values": {
                    "Client Name ": "{{1.client_name}}",
                    "Email": "{{1.email}}",
                    "Project Type": "{{1.project_type}}",
                    "Lot Address": "{{1.lot_address}}",
                    "Budget Range": "{{1.budget_range}}",
                    "Timeline": "{{1.timeline}}",
                    "Special Notes": "{{1.special_notes}}",
                    "Submission Date": "{{now}}",
                    "Link to Proposal Document ": "{{3.webViewLink}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1273,
                    "y": 203
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (jordan.rideout16@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Portfolio Projects",
                                "Lux Home  -Make project",
                                "LUX Proposal Inputs"
                            ]
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values in columns",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "Client Name ",
                                            "label": "Client Name  (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "Email",
                                            "label": "Email (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "Project Type",
                                            "label": "Project Type (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "Lot Address",
                                            "label": "Lot Address (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "Budget Range",
                                            "label": "Budget Range (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "Timeline",
                                            "label": "Timeline (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "Special Notes",
                                            "label": "Special Notes (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "Submission Date",
                                            "label": "Submission Date (H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "Link to Proposal Document ",
                                            "label": "Link to Proposal Document  (I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(Z)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "undefined",
                                            "label": "(AA)",
                                            "type": "text"
                                        }
                                    ],
                                    "metadata": [
                                        [
                                            [
                                                "Client Name ",
                                                "Email",
                                                "Project Type",
                                                "Lot Address",
                                                "Budget Range",
                                                "Timeline",
                                                "Special Notes",
                                                "Submission Date",
                                                "Link to Proposal Document "
                                            ]
                                        ]
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "required": true,
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "Client Name ",
                                    "Email",
                                    "Project Type",
                                    "Lot Address",
                                    "Budget Range",
                                    "Timeline",
                                    "Special Notes",
                                    "Submission Date",
                                    "Link to Proposal Document "
                                ]
                            ]
                        ],
                        "spec": [
                            {
                                "name": "Client Name ",
                                "type": "text",
                                "label": "Client Name  (A)"
                            },
                            {
                                "name": "Email",
                                "type": "text",
                                "label": "Email (B)"
                            },
                            {
                                "name": "Project Type",
                                "type": "text",
                                "label": "Project Type (C)"
                            },
                            {
                                "name": "Lot Address",
                                "type": "text",
                                "label": "Lot Address (D)"
                            },
                            {
                                "name": "Budget Range",
                                "type": "text",
                                "label": "Budget Range (E)"
                            },
                            {
                                "name": "Timeline",
                                "type": "text",
                                "label": "Timeline (F)"
                            },
                            {
                                "name": "Special Notes",
                                "type": "text",
                                "label": "Special Notes (G)"
                            },
                            {
                                "name": "Submission Date",
                                "type": "text",
                                "label": "Submission Date (H)"
                            },
                            {
                                "name": "Link to Proposal Document ",
                                "type": "text",
                                "label": "Link to Proposal Document  (I)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(AA)"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}